<div class="tab-content">

  <div class="tab-pane active" id="tab1">

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Knowledge', ''],
          ['Integrated Business Planning', 13],
          ['Busienss Process Innovation', 22],
          ['Product Lifecycle Management', 20],
          ['New Product Development', 22],
          ['Project Management', 15],
          ['Business Analysis', 15],
          ['Change Management', 24],
          ['Business Intelligence', 2]
        ]);

        var options = {
          title: 'Business Strategy and Tactics',
          hAxis: {title: 'Years of Practice'},
          height: 600,
          width: 800
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart1'));
        chart.draw(data, options);
      }
    </script>

    <div id="chart1">
    </div>

  </div>

  <div class="tab-pane" id="tab2">
    <style>
    .chart div {
      font: 10px sans-serif;
      background-color: steelblue;
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: white;
    }
    </style>
    <div class="chart"></div>
    <script type="text/javascript">
    var data = [4, 8, 15, 16, 23, 42];
    var x = d3.scale.linear()
        .domain([0, d3.max(data)])
        .range([0, 420]);
    d3.select(".chart")
      .selectAll("div")
        .data(data)
      .enter().append("div")
        .style("width", function(d) { return x(d) + "px"; })
        .text(function(d) { return d; });
    </script>
  </div>

  <div class="tab-pane" id="tab3">
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Knowledge', ''],
          ['Content Strategy', 21],
          ['Information Design', 18],
          ['User Experience', 18],
          ['Web Design', 9],
          ['Web Development', 9]
        ]);

        var options = {
          title: 'Website Architecture',
          hAxis: {title: 'Years of Practice'},
          height: 600,
          width: 800
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart3'));
        chart.draw(data, options);
      }
    </script>

    <div id="chart3"></div>
  </div>

    <div class="tab-pane" id="tab4">
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Knowledge', ''],
          ['Adult Education', 21],
          ['Educational Technology', 18],
          ['E-Learning', 18],
          ['Knowledge and Skills Transfer', 9],
          ['Curriculum Development', 9],
          ['Instructional Design', 9],
          ['Teaching and Training', 9],
          ['Evaluation', 9],
        ]);

        var options = {
          title: 'Learning and Development',
          hAxis: {title: 'Years of Practice'},
          height: 600,
          width: 800
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart4'));
        chart.draw(data, options);
      }
    </script>

    <div id="chart4"></div>
  </div>

</div>







