<div class="tab-content">
  <div class="tab-pane active" id="tab11">

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['ID', 'X', 'Y', 'Temperature'],
          ['',   1,  167,      120],
          ['',   2,  136,      130],
          ['',   3,  184,      50],
          ['',   4,  278,      230],
          ['',   5,  200,      210],
          ['',   6,  170,      100],
          ['',   7,  477,      80]
        ]);

        var options = {
          hAxis: {title: 'Functional Skills'},
          vAxis: {title: 'From Novice to Mastery'},
          bubble: {textStyle: {fontSize: 11}},
          colorAxis: {colors: ['yellow', 'red']},
          height: 500

        };

        var chart = new google.visualization.BubbleChart(document.getElementById('ideas-chart'));
        chart.draw(data, options);
      }
    </script>

    <div id="ideas-chart"></div>
  </div>

  <div class="tab-pane" id="tab12">

  <script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Skills', 'Life Expectancy', 'Fertility Rate', 'Region',     'Population'],
      ['Systems Thinker', 1, 4, 'Proficient', 4],
      ['Problem Solving', 2, 3, 'Competent', 3],
      ['Planning', 3, 4, 'Proficient', 4],
      ['Initiative', 4, 6, 'Mastery', 6],
      ['Organizing', 5, 5,'Expert', 5],
      ['Creative', 6, 6, 'Mastery', 6],
      ['Intuitive', 7, 6, 'Mastery', 6],
      ['Analytical', 8, 5, 'Expert', 5],
      ['Interrelatedness', 9, 5, 'Expert', 5]
    ]);

    var options = {
      title: 'People Skills',
      hAxis: {title: 'Dreyfus Model of Skill Aquisition'},
      vAxis: {title: 'From Novice to Mastery'},
      bubble: {textStyle: {fontSize: 11}}
    };

    var chart = new google.visualization.BubbleChart(document.getElementById('skillchart2'));
    chart.draw(data, options);
  }
</script>

<div id="skillchart2"></div>

 </div>

<div class="tab-pane" id="tab13">

  <script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Skills', 'Life Expectancy', 'Fertility Rate', 'Region', 'Population'],
      ['Systems Thinker', 1, 4, 'Proficient', 4],
      ['Problem Solving', 2, 3, 'Competent', 3],
      ['Planning', 3, 4, 'Proficient', 4],
      ['Initiative', 4, 6, 'Mastery', 6],
      ['Organizing', 5, 5,'Expert', 5],
      ['Creative', 6, 6, 'Mastery', 6],
      ['Intuitive', 7, 6, 'Mastery', 6],
      ['Analytical', 8, 5, 'Expert', 5],
      ['Interrelatedness', 9, 5, 'Expert', 5]
    ]);

    var options = {
      title: 'Things',
      height: 600,
      width: 500,
      hAxis: {title: 'Dreyfus Model of Skill Aquisition'},
      vAxis: {title: 'From Novice to Mastery'},
      bubble: {textStyle: {fontSize: 12}}
    };

    var chart = new google.visualization.BubbleChart(document.getElementById('skillchart3'));
    chart.draw(data, options);
  }
  </script>

  <div id="skillchart3">
  </div>
</div>


