<!-- Home ================================================== -->

<div class="container">
  <div class="jumbotron">
    <h1>Mark Schipper</h1>
    <p>"Individual Expression + Selfless Collaboration = Design-Inspired Product Management"</p>
  </div>
</div>

<div class="container">
  <div class="row">

    <aside class="col-md-3">
      <div class="" role="complementary">
        <ul class="nav">

          <li><a href="#overview">Overview</a></li>
  				<li><a href="#summary">Summary</a></li>
  				<li><a href="#employment">Employment</a></li>
  				<li><a href="#education">Education</a></li>

				</ul>
			</div>
		</aside>

		<section class="col-md-9" role="main">
  		<div class="bs-docs-section">

    		<div class="page-header">
      		<h1 id="overview">Overview</h1>
									</div>


				<div class="page-header">
					<h1 id="summary">Summary</h1>
					<p class="lead">A generalizing specialist, possessing a 'T-shaped' combination of skills and abilities in business, marketing, technology and learning.</p>

					<div class="tabbable tabs-below">
					  <ul class="nav nav-stacked">
					    <li class="active"><a href="#tab1" data-toggle="tab">Business Strategy and Tactics</a></li>
					    <li><a href="#tab2" data-toggle="tab">Product Marketing</a></li>
					    <li><a href="#tab3" data-toggle="tab">Website Architecture</a></li>
					    <li><a href="#tab4" data-toggle="tab">Learning and Development</a></li>
					  </ul>
					</div>
					<%= render 'pages/summary' %>
				</div>

				<div class="page-header">
					<h1 id="employment">Employment</h1>
				</div>

				<div class="page-header">
					<h1 id="education">Education</h1>
				</div>

			</div>
		</section>

	</div>
</div>
