@import "bootstrap";

body {
  min-height: 2000px;
  padding-top: 70px;
}

.pic {
	width: 210px;
	height: 280px;
  margin-top: 20px;
}

.venn {
  margin-top: 50px;
}


#sidebar {
  width: 225px;
}

#sidebar.affix-top {
  position: static;
}

#sidebar.affix {
  position: fixed;
  top:70px;
}

/*  Begin Bar Charts */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/*  End Bar Charts */

/*  Begin Bubble Charts */

text {
  font-size: 14px;
  pointer-events: none;
}

text.parent {
  fill: #1f77b4;
}

circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}

/*  End Bubble Charts */
