<!-- Site Footer ======================================================= -->

<div id="footer" class="footer navbar navbar-fixed-bottom hidden-phone">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-right">
        <li><a href="/integrate">&copy; <%= Date.today.year %> Integrate Design Studio</a></li>
      </ul>
    </div>
  </div>
</div>
